name: ai-code-review
run-name: ${{ github.actor }} is using AI to do code review for their code
on: [pull_request]

env:
  PR_NUMBER: ${{ github.event.number }}
  COMMIT_ID: ${{ github.event.pull_request.head.sha }}

jobs:
  build-go-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.17.0'

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        uses: py-actions/py-dependency-install@v4
        with:
          path: "./.github/scripts/requirements.txt"

      - name: "Get AI Code Review"
        run: python ./.github/scripts/get_changed_files.py "$GITHUB_REPOSITORY" "$PR_NUMBER" "$COMMIT_ID"
        env:
          GITHUB_API_KEY: ${{ secrets.GH_API_KEY }}
          OPENAI_ORG: ${{ secrets.OPENAI_ORG }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
